
<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Propose ta séance</h1>
</section>

<section class="align-items-center">
    <div class="form container my-4 py-4 rounded-4 bg-tertiary rounded-4 shadow">
        <%= form_with(model: @workout, local: true) do |form| %>
        <%= form.hidden_field :host_id, value: current_user.id %>
        <div class="col py-2">
            <%= form.label :title, "Titre",class:"floatingInput" %>
            <%= form.text_field :title,class:"form-control" %>

            <%= form.label :price, "Prix (€)",class:"floatingInput" %>
            <%= form.number_field :price, step: "1",class:"form-control" %>

            <%= form.label :description, "Description",class:"floatingInput" %>
            <%= form.text_area :description,class:"form-control", rows: 4, style: "resize: none;" %>
        </div>
        <div class="col py-3">
            <%= form.label :participant_number, "Nombre de participants",class:"floatingInput" %>
            <%= form.number_field :participant_number,class:"form-control" %>

            <%= form.label :city, "Ville",class:"floatingInput" %>
        <%= form.collection_select :city_id, City.all, :id, :name, { prompt: "Sélectionner une ville" }, class: "form-control" %>

            <%= form.label :location, "Adresse",class:"floatingInput" %>
            <%= form.text_field :location ,class:"form-control" %>
        </div>
        <div class="col py-3">
            <%= form.label :start_date, "Date de début",class:"floatingInput" %>
            <%= form.datetime_field :start_date,class:"form-control" %>

            <%= form.label :end_date, "Date de fin",class:"floatingInput" %>
            <%= form.datetime_field :end_date,class:"form-control" %>
            <br>
            <%= form.submit "Créer",class:"w-100 py-2 mb-2 btn btn-primary rounded-3" %>
        </div>
        <% end %>
    </div>
</section>