<section class="text-center py-5 bg-secondary">
  <div><%= image_tag 'logokeella.png', alt: "workout-image" %></div>
</section>
<div class="container">
  <section>
    <div class="row flex-column-reverse flex-md-row">

      <div class="col col-md-8 mt-2">
        <h2><%= @workout.title %></h2>
        <p>Lieu : <%= @workout.location %></p>
        <p>Ville : <%= @workout.city.name %></p>
        <hr>
        <div>
          <div>Logo hote</div>
          <div><%= @workout.host.email %></div>
          <div><i class="bi bi-star-fill">Note de l'hote</i></div>
        </div>
        <hr>
        <h3>Description</h3>
        <p><%= @workout.description %></p>
        <hr>
        <div>
          <h3>Equipements</h3>
          <ul>
            <li>Caractéristique 1</li>
            <li>Caractéristique 2</li>
            <li>Caractéristique 3</li>
          </ul>
        </div>
      </div>

      <div class="col col-md-4 mt-2">
        <div class="card shadow">
          <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title me-1"><%= @workout.price %>€</h5>
              <span class="card-title">par séance</span>
            </div>
            <h6>Nombre de participant maximum :<%= @workout.participant_number %></h6>  
            <ul>
              <li>Date de début : <strong><%= @workout.start_date.strftime("%d/%m/%Y %H:%M") %></strong></li>
              <li>Date de fin : <strong><%= @workout.end_date.strftime("%d/%m/%Y %H:%M") %></strong></li>
            </ul>
            <div>
              <%= button_to 'Envoyer une demande de réservation', workout_reservations_path(@workout), method: :post, class:"w-100 btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>