<head>
<% content_for :title, "Modifier le compte" %>
<% content_for :meta_description, "Ajoutez ou modifiez les informations de votre profil" %>
</head>
<main class="d-flex align-items-center pt-5 my-5 ">
  <div class="form-signin w-40 m-auto">
    <div class="modal-body p-5 rounded-4 shadow bg-body-tertiary">
      <h2>Modifier mon compte</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :pseudo,class:"floatingInput" %>*<br />
          <%= f.text_field :pseudo, autofocus: true, autocomplete: "pseudo",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :tel,class:"floatingInput" %>*<br />
          <%= f.text_field :phone, autofocus: true, autocomplete: "phone",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :ville,class:"floatingInput" %><br />
          <%= f.collection_select :city_id, City.all, :id, :name, { prompt: "Sélectionner une ville" }, class: "form-control" %>

        </div>

        <div class="field">
          <%= f.label :email,class:"floatingInput" %>*<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :current_password,class:"floatingInput mt-2" %>* <i>(Nous en avons besoin pour confirmer les modifications)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password,class:"floatingInput mt-2" %>* <i>(laissez vide si vous ne voulez pas le changer)</i><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,class:"floatingInput mt-2" %>*<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
        </div>


        <div class="actions">
          <%= f.submit "Mettre à jour",class:"w-100 py-2 mb-2 mt-2 btn btn-outline-primary rounded-3" %>
        </div>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <div><%= link_to "Supprimer le profile", registration_path(@user), :method => :delete,class:"w-100 py-2 mb-2 mt-2 btn btn-outline-danger rounded-3", id: "delete_comment_button", data: {turbo: true, turbo_method: :delete, turbo_confirm: "Vous etes sure de vouloir supprimer votre compte ?"} %></div>

      <%= link_to "Back", :back %>
    </div>
  </div>
</main>