<head>
<% content_for :title, "Achat de crédits" %>
<% content_for :meta_description, "Consultez ou achetez des crédits pour réserver des séances" %>
</head>
<div class="container">
  <h1>Vos crédits et paiements</h1>
  <h2>Votre crédit : <%= @user.credit.round(2) %> €</h2>
  <h2>Acheter des crédits</h2>
  <%= form_with url: checkout_create_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.label :total, "Montant (minimum 1€)" %>
    <%= form.number_field :total, step: 0.01, min:1, class: "form-control" %>
  </div>

  <%= form.submit "Passer commande (NEXT GEN)", class: "btn btn-primary" %>
<% end %>
</div>
