<head>
<% content_for :title, "Profil" %>
<% content_for :meta_description, "Retrouvez les informations partagées par l'utilisateur" %>
</head>
<div class="p-3 me-5 ms-5 border-0 bd-example row row-cols-1 row-cols-md-2 g-4">
    <div class="col"> 
        <div class="card ms-auto text-center me-auto" style="max-width: 22rem;">
            <h3>Avatar actuel</h3>
                <%if @user.avatar.attached?%>
                    <%= image_tag @user.avatar, alt: 'avatar' %>
                <%else%>
                    <%=  image_tag "iconeuser.png", alt: "image de profile" %>
                    <p>Il n'y a pas encore d'avatar lié à cet utilisateur</p>
                <%end%>
                 <%if @user == current_user%>
                    <%= form_tag user_avatars_path(@user), multipart: true do %>
                        <%= file_field_tag :avatar, class:"fs-6 fw-lighter" %>
                        <%= submit_tag "uploader l'avatar",class:"btn btn-outline-success btn-sm" %>
                    <% end %>
                <% end %>
        </div>
        <div class="card ms-auto me-auto" style="max-width: 22rem;">
            
        <div class="card-body">
        <p class="ms-3 mt-2">Nombre de séances proposé: <%= @user.hosted_workouts.count %> </p>
        <p class="ms-3 mt-2">Nombre de réservations: <%= @user.reserved_workouts.count %> </p>
        
        <p class="ms-3 mt-2">Note en tant que participant: <%= @user.average_host_rating %>⭐️ </p>
        <p class="ms-3 mt-2">Note en tant qu'hôte: <%= @user.average_user_rating %>⭐️</p>
        
        </div>
    </div>
    </div>
    <div class="col">
        <div class="card me-auto h-100">
            <h1 class="card-title">Profil de <%= @user.pseudo %></h1>
            <div class="card-body">
                <% if current_user == @user %>
                    <%= link_to "Modifier le profil", edit_user_registration_path, class: "btn btn-outline-primary" %>
                    <%= link_to "Supprimer le profile", registration_path(@user), :method => :delete, class: "btn btn-outline-danger", id: "delete_comment_button", data: {turbo: true, turbo_method: :delete, turbo_confirm: "Vous etes sure de vouloir supprimer votre compte ?"} %>
                <% end %>
                <div class="card-footer mt-2">
                    <p>Pseudo: <%= @user.pseudo %></p>
                    <p>Ville : <%= @user.city.name %></p>
                    <%= render 'userating' %>
                    <%= render 'hostrating' %>
                  
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>