<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Mes Annonces</h1>
</section>
<h2>Tableau</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Addresse</th>
              <th scope="col">prix</th>
              <th scope="col">Nombre de participant</th>
              <th scope="col">Date</th>
              <th scope="col">Début / Fin</th>
              <th scope="col">Durée</th>
              <th scope="col">Boutons</th>
            </tr>
          </thead>
          <tbody>
        <%@reservations.each do |reservation|%>
        <tr>
              <td><%=reservation.workout.title%></td>
              <td><%=reservation.workout.location%></td>
              <td><%=reservation.workout.price%></td>
              <td><%=reservation.workout.participant_number%></td>
              <td><%=reservation.workout.start_date.strftime("%d %B %Y")%></td>
              <td>De <%=reservation.workout.start_date.strftime("%H:%M")%> à <%=reservation.workout.end_date.strftime("%H:%M")%></td>
              <td><%=reservation.workout.duration / 60%> minutes</td>
                <td><button class="btn btn-primary">1</button><button class="btn btn-success">2</button><button class="btn btn-danger">3</button></td>
            </tr>
        <%end%>
          </tbody>
        </table>


ID | TITLE | START_DATE | END_DATE   | PARTICIPANT_NUMBER | DESCRIPTION | PRICE | LOCATION | HOST_ID | CITY_ID | CREATED_AT | UPDATED_AT
