<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center" id="navbarNav">
      <a class="navbar-brand" href="<%= root_path %>">Keella</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= workouts_path %>">Trouver une séance</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="<%= users_path %>">
            <% if user_signed_in? && current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, alt: '32x32', class: "rounded mb-1 bg-dark", style: "width: 32px; height: 32px;" %>
            <% else %>
              <img alt="32x32" class="rounded mb-1 bg-dark" style="width: 32px; height: 32px;" src="<%= image_path('iconeuser.png') %>" data-holder-rendered="true">
            <% end %>
          </a>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" id="dropdown03" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</div>
          <div class="dropdown-menu dropdown-menu-end">
            <% if user_signed_in? %> 
              <%= link_to "Mes réservations", user_reservations_path(current_user), class: "dropdown-item" %>
              <%= link_to "Proposer une séance", new_workout_path, class: "dropdown-item" %>
              <%= link_to "Mon compte", users_path, class: "dropdown-item" %>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo: true, turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir vous déconnecter ?"}, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
